.input_container {
  border: none;
  outline: none;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  width: 100%;
  color: #343e37;
  padding-bottom: 0;
}

.input_container::placeholder {
  font-size: 2rem;
  font-weight: bold;
}
