@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select {
  outline: none;
  padding: 5px 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid rgb(207, 205, 205);
  width: 100%;
  background-color: #fafafa;
}

input {
  width: 96%;
}

.input_group {
  display: block;
  margin: 10px 0;
}
label {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: rgb(126, 126, 126);
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

body {
  background-color: #fafafa;
}

.quill {
  max-width: 500px;
}

.ql-toolbar.ql-snow {
  border: none !important;
  background-color: white;
  border-radius: 5px;
  padding: 0 !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-formats {
  border-right: 1px solid rgb(216, 216, 216);
  padding: 4px;
}
.ql-formats:last-of-type {
  border: none;
}

.container {
  position: relative;
  padding: 20px;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}
.btn__contained {
  background-color: #23803d;
  color: white;
}

.btn__outlined {
  background-color: white;
  color: rgb(83, 83, 83);
  border: 1px solid rgba(12, 117, 12, 0.2);
}

.uploader {
  height: 100px;
  border: 1.2px dashed rgb(123, 163, 123);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}

.input {
  display: none;
}

.button {
  outline: none;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid rgb(123, 163, 123);
  transition: box-shadow 0.5s ease;
  font-size: 0.9rem;
  color: rgb(119, 118, 118);
  cursor: pointer;
}
.button:hover {
  box-shadow: -1px 2px 5px 1px rgba(88, 204, 135, 0.36);
  -webkit-box-shadow: -1px 2px 5px 1px rgba(88, 204, 135, 0.36);
  -moz-box-shadow: -1px 2px 5px 1px rgba(88, 204, 135, 0.36);
}

.upload_title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color: gray;
}
.upload_subtitle {
  text-transform: capitalize;
  font-size: 0.9rem;
}
.list {
  background-color: white;
  max-width: 220px;
  margin-top: 1rem;
}
.list_content {
  display: flex;
  padding: 5px;
}
.icon_image {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.list--description {
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease;
}

.list_content:hover {
  background-color: #f7fcf8;
  cursor: pointer;
}

.list--title {
  font-weight: bold;
  font-size: 1rem;
  color: #010e05;
  margin: 2px;
}

.list--subtitle {
  color: #acb0ad;
  font-size: 0.5rem;
  margin: 2px;
}

.modal {
  max-width: 500px;
  background-color: white;
  box-shadow: 0px -6px 5px 1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px -6px 5px 1px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px -6px 5px 1px rgba(0, 0, 0, 0.36);
  padding: 10px;
  z-index: 10;
  position: absolute;
  min-width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.modal__title {
  margin: 5px 0 !important;
}

.fa-close {
  color: rgb(175, 175, 175);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.fa-close:hover {
  transform: scale(1.5);
}

.modal__body {
  padding: 5px 0;
}

.backdrop {
  display: none;
}
.backdrop.active {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
}
.modal__container {
}
.rounded--button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
  font-weight: 500;
  font-size: 18px;
}

.rounded--button.active {
  background-color: #e7f1e9;
}

.rounded--button:hover {
  background-color: #e7f1e9;
}
